.catalog-main {
  padding-top: 12px;
  padding-bottom: 72px;
  background: #f5f5f5;
}

.catalog__title {
  margin-top: 40px !important;
}

.products__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 224px);
  grid-template-rows: auto;
  justify-content: center;
  gap: 12px;
  margin: 24px 0;
}

.products__wrapper.block-view {
  grid-template-columns: repeat(3, 1fr);
}

.sort-options {
  gap: 14px;
}

.sort-options__title {
  color: #8b96b1;
}

.sort-options__option {
  padding: 0 !important;
  cursor: pointer;
  position: relative;
  padding-left: 10px !important;
}

.sort-options__option .anticon-caret-up {
  position: absolute;
  left: 0;
  top: 4px;
}

.sort-options__option .anticon-caret-down {
  position: absolute;
  left: 0;
  bottom: 4px;
}

.sort-options__option:hover {
  background: transparent !important;
}

.catalog-view-options {
  background: #fff;
  border-radius: 12px;
  padding: 10px 16px;
  gap: 8px;
}

.catalog-view-options__title {
  color: #8b96b1;
  padding-right: 8px;
}
