.phone-input::placeholder {
  color: #8b96b1;
}

.country-select-btn {
  padding: 4px;
  padding-left: 10px;
  height: 100%;
  z-index: 1;
}

.country-select-btn.error {
  border: 1px solid #e31b4b;
}

.country-select-btn.error:hover {
  border: 1px solid #e31b4b !important;
}