.order-wrap {
  flex-basis: 400px;
  flex-shrink: 0;
  gap: 20px;
}

.order {
  padding: 32px 24px;
  border-radius: 16px;
  background-color: #fff;
  gap: 24px;
}

.cart-total__delivery-terms {
  text-align: center;
  color: #8b96b1;
}
.cart-total__delivery-terms a {
  color: #054edb;
  text-decoration: underline;
}

.order__bonus-description {
  max-width: 150px;
  color: #636875;
  line-height: 1.25;
}

.order__bonus-amount {
  max-width: 52px;
  border-radius: 8px;
}

.order__result {
  margin-top: 20vh;
  border-radius: 16px;
}

.order__result .ant-message-notice-content {
  padding: 24px 16px !important;
  width: 320px;
}

.order__result .ant-message-custom-content {
  justify-content: center;
}

.order__result .ant-message-custom-content span {
  width: 100%;
}