.favorites {
  margin-left: 16px;
  flex-grow: 2;
  gap: 23px;
}

.favorites__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 213px);
  grid-template-rows: auto;
  column-gap: 12px;
  row-gap: 16px;
}
