.cart-modal {
  top: 0;
  margin: 0;
  margin-left: auto;
}

.cart-modal__title {
  margin-bottom: 14px !important;
}

.cart-modal-item {
  border-radius: 16px;
  border: 1px solid #eaf1ff;
  max-width: 346px;
  margin-bottom: 10px;
}

.cart-modal-item__img-wrap {
  flex: 0 1 144px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-modal-item__img-wrap img {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.cart-modal-item__content {
  flex: 0 1 202px;
  padding: 12px;
  gap: 5px;
}

.cart-modal-item__price-for-one,
.cart-modal__totals {
  color: #8b96b1;
  font-weight: 500;
}

.cart-modal-item__price-for-one-total {
  font-weight: 700;
  margin-left: auto;
}

.product-card__quantity-wrap.cart-modal-item__quantity {
  margin-top: auto;
  flex-grow: 0;
  width: auto;
  scale: 0.8;
  transform-origin: left;
  gap: 5px;
}

.cart-modal__totals-wrap {
  margin-top: 15px;
  gap: 8px;
}

.cart-modal__totals-value {
  font-weight: 500;
}

.cart-modal__totals,
.cart-modal__totals-value {
  font-size: 16px;
}

.cart-modal__navigate-to-cart {
  height: 40px;
  width: 100%;
}
