.promotions__breadcrumb,
.promotions__title {
  margin-top: 12px !important;
}

.promotions__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 380px);
  grid-template-rows: auto;
  justify-content: center;
  gap: 14px;
  margin: 24px 0 90px 0;
}

.promotions__item-link {
  text-decoration: none;
}
