.branches-main {
  background-color: #f5f5f5;
  padding-top: 12px;
  padding-bottom: 36px;
}

.branches {
  padding: 24px 16px;
  background-color: #fff;
  border-radius: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.branches__title {
  margin-bottom: 26px;
}

.branches__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 8px;
  grid-row-gap: 12px;
  margin-top: 24px;
}
