@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter-VariableFont_opsz-wght.ttf');
}

html,
body {
  margin: 0;
  padding: 0;
}

.ant-card {
  box-shadow: none !important;
  border-radius: 16px;
  transition: all 0.2s;
}

.ant-card img {
  border-radius: 16px 16px 0 0 !important;
}

.ant-card-body {
  padding: 10px !important;
}

h3.ant-typography {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

h4.ant-typography {
  margin-top: 0;
}
