.news-card__link {
  display: grid;
  text-decoration: none;
}

.ant-card:hover .news-card__title {
  color: #054edb;
}

.news-card__title {
  font-weight: 500;
  display: block;
  margin-bottom: 8px;
}

.news-card__title.large {
  margin-bottom: 8px;
}

.news-card__text {
  color: #636875;
  font-size: 14px;
}

.news-card__date {
  color: #8b96b1;
  font-size: 14px;
}
