.header {
  padding-bottom: 16px;
  border-bottom: 1px solid #d4e3ff;
}

h3.ant-typography {
  color: #181818;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.bestsellers {
  background: #f5f5f5;
  padding: 32px 0;
}

.news {
  background: #f5f5f5;
  padding: 64px 0;
}

.bestsellers__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 224px);
  grid-template-rows: auto;
  justify-content: center;
  gap: 12px;
  margin: 24px 0;
}

.promotions {
  padding: 64px 0;
}

.news__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 286px);
  grid-template-rows: auto;
  justify-content: center;
  column-gap: 8px;
  row-gap: 14px;
  margin: 14px 0;
}

.footer {
  padding: 48px 0;
  border-top: 1px solid #d4e3ff;
  border-bottom: 1px solid #d4e3ff;
  margin-bottom: 81px;
}

.footer__link_icon {
  padding-left: 28px;
  background-repeat: no-repeat;
  background-position: left center;
}

.footer__link_icon.vk {
  background-image: url('../../../assets/images/icons/vk.png');
}

.footer__link_icon.facebook {
  background-image: url('../../../assets/images/icons/facebook.png');
}

.footer__link_icon.odnoklassniki {
  background-image: url('../../../assets/images/icons/odnoklassniki.png');
}

.footer__link_icon.instagram {
  background-image: url('../../../assets/images/icons/instagram.png');
}

.footer__link_icon.mail {
  background-image: url('../../../assets/images/icons/mail.png');
}

.footer__link_icon.phone {
  background-image: url('../../../assets/images/icons/phone.png');
}

.app-marketplace {
  margin-top: 20px;
  display: block;
  width: 80px;
  height: 28px;
  background-repeat: no-repeat;
}

.app-store-link {
  background-image: url('../../../assets/images/icons/app-store.png');
}

.google-play-link {
  background-image: url('../../../assets/images/icons/google-play.png');
}
